@media (max-width:800px) {
    .projects .popup-img img {
        width: 98%;
    }
}


/* tablet responsive view */

@media (max-width: 1200px) and (min-width: 1001px) {
    body {
        padding: 2em;
        margin: auto;
        overflow-x: hidden;
    }
    nav {
        display: flex;
        padding: 0;
        padding-left: 4em;
    }
    nav h1 {
        padding: 0;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        width: 40%;
        color: #ffffff;
        pointer-events: none;
    }
    menu {
        margin-left: 2.5rem;
    }
    menu ul {
        margin-left: 6px;
    }
    menu ul li {
        display: inline-block;
    }
    menu ul li .m {
        padding: 1em 0.7rem;
        font-size: 16px;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        justify-content: space-between;
        list-style: none;
        text-decoration: none;
        color: #ffffff;
        cursor: pointer;
    }
    .heroPage {
        display: flex;
        margin-top: 6em;
        padding-bottom: 1em;
    }
    .article {
        width: 50%;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 2em;
        margin-top: 6em;
    }
    .article h2 #fstWord {
        background-color: rgb(145, 142, 142);
        border-radius: 0.2em;
        color: #ffffff;
        padding: 0.3em;
        margin-right: 5px;
        font-size: 20px;
    }
    .article h2 {
        font-size: 20px;
        padding-bottom: 2px;
    }
    .article h3 {
        padding-bottom: 0.5em;
    }
    .article p {
        font-size: 15px;
    }
    #heroImg {
        width: 50%;
    }
    #heroImg img {
        width: 100%;
        height: auto;
        margin-top: 2rem;
    }
    .info {
        width: auto;
    }
    .liit {
        width: 50rem;
    }
}

@media (max-width: 1000px) and (min-width: 601px) {
    body {
        padding: 1em;
        margin: auto;
    }
    nav {
        display: flex;
        padding: 0;
        padding-left: 2em;
    }
    nav h1 {
        padding: 0;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        width: 30%;
        color: #ffffff;
        pointer-events: none;
    }
    menu {
        width: 42rem;
    }
    menu ul {
        margin-left: 6px;
    }
    menu ul li {
        display: inline-block;
    }
    menu ul li .m {
        padding: 1em 0.7rem;
        font-size: 16px;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        justify-content: space-between;
        list-style: none;
        text-decoration: none;
        color: #ffffff;
        cursor: pointer;
    }
    .heroPage {
        display: block;
        margin-top: 6em;
        padding-bottom: 1em;
    }
    .article {
        width: auto;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        margin-top: 6em;
    }
    .article h2 #fstWord {
        background-color: rgb(145, 142, 142);
        border-radius: 0.2em;
        color: #ffffff;
        padding: 0.3em;
        margin-right: 5px;
        font-size: 20px;
    }
    .article h2 {
        font-size: 20px;
        padding-bottom: 2px;
    }
    .article h3 {
        padding-bottom: 0.5em;
    }
    .article p {
        font-size: 15px;
    }
    #heroImg {
        width: auto;
    }
    #heroImg img {
        width: 95%;
        height: auto;
        margin-top: 2rem;
    }
    .secPage {
        margin: 0.6em;
        padding: 1em 2em;
        border-radius: 0.7em;
        font-family: Arial, Helvetica, sans-serif
    }
    button:hover {
        box-shadow: none;
    }
    .section2 {
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        margin: auto;
        padding: 0;
    }
    .section2 h1 {
        text-align: center;
        padding-top: 2em;
    }
    .section2 .container {
        display: flex;
        padding-top: 0em;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    .section2 .servicesList {
        border: 3px solid #03256c;
        border-radius: 1em;
        padding: 1em;
        margin: 0.9em;
        margin-bottom: 0;
    }
    .card-slide .slide {
        padding-top: 2rem;
    }
    .rdsection h2 {
        color: #ffffff;
        text-align: center;
    }
    .projects .container {
        border: #fff 1px solid;
        color: #fff;
        padding: 0.2em;
        width: 17.2rem;
        height: 20rem;
    }
    .pro-img {
        width: 16.6rem;
        height: 8rem;
    }
    .container img {
        object-fit: contain;
    }
    .projectsDetails h3 {
        font-size: 20px;
        font-weight: 500;
    }
    .projectsDetails p {
        font-size: 14px;
        font-weight: 300;
    }
    .info {
        padding: 0 1em;
    }
    .liit {
        width: auto;
    }
    .infoicons ul li {
        list-style: none;
        padding-top: 10px;
    }
    .infoicons i {
        padding-right: 8px;
    }
    .infoicons span {
        font-size: 15px;
        font-weight: 500;
    }
    .connect {
        width: auto;
        margin-bottom: 30px;
    }
    .connect ul {
        display: flex;
        position: relative;
        bottom: 5px;
        justify-content: flex-start;
        margin-right: 8px;
        transition: .2s ease-in;
    }
    .connect ul li {
        margin: 0.8em 5px;
        list-style: none;
        font-size: 20px;
        padding: 8px 9px;
        border-radius: 50%;
        background-color: #252f65;
        box-shadow: 0px 0px 5px 0px #000;
    }
    .connect i {
        color: rgb(145, 142, 142);
    }
    footer {
        font-size: 13px;
        font-weight: 400;
        color: #fff;
        padding-left: 1em;
        margin-top: 4rem;
    }
}

@media screen and (min-width: 601px) {
    label {
        display: none;
    }
    #break {
        display: none;
    }
}


/* mobile responsiveness starts here */

@media screen and (max-width: 400px) {
    body {
        margin: auto;
        padding: 3px 1em;
        width: 100%;
        overflow-x: hidden;
    }
    menu {
        display: none;
    }
    .slide {
        height: 100vh;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #fff;
        transition: 0.5s ease;
        transform: translateX(-100%);
    }
    .slide ul {
        margin-top: 5.4em;
    }
    .slide ul li {
        list-style: none;
    }
    .slide ul li a {
        color: #252f65;
        font-weight: 500;
        text-transform: capitalize;
        text-decoration: none;
        transition: 0.2s ease-out;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        height: 3em;
        margin-top: 10px;
        transition: .5s ease-in-out;
        /* No working */
    }
    .slide ul li a:hover {
        transform: scaleX(1);
        color: rgb(145, 142, 142);
        background-color: #252f65;
    }
    label input {
        display: none;
        visibility: hidden;
        -webkit-appearance: none;
    }
    .toggle {
        position: absolute;
        height: 30px;
        width: 30px;
        top: 25px;
        align-items: end;
        right: 1em;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
        z-index: 1;
        cursor: pointer;
        border-radius: 2px;
        background-color: #fff;
    }
    .toggle .common {
        position: absolute;
        height: 2px;
        width: 20px;
        background-color: #043aae;
        border-radius: 50px;
        transition: 0.3s ease;
    }
    .toggle .top_line {
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .toggle .middle_line {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .toggle .bottom_line {
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    input:checked~.toggle {
        position: fixed;
    }
    input:checked~.toggle .top_line {
        left: 2px;
        top: 14px;
        width: 25px;
        transform: rotate(45deg);
    }
    input:checked~.toggle .bottom_line {
        left: 2px;
        top: 14px;
        width: 25px;
        transform: rotate(-45deg);
    }
    input:checked~.toggle .middle_line {
        opacity: 0;
        transform: translateX(-20px);
    }
    input:checked~.slide {
        transform: translateX(0);
        position: fixed;
        box-shadow: 0 0 15px rgb(0, 0, 0, 0.5);
    }
    nav {
        display: block;
        padding: 0;
    }
    nav h1 {
        padding: 0;
        padding-top: 4px;
        padding-left: 0.5em;
        padding-bottom: 2em;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        color: #ffffff;
    }
    #ibah {
        color: rgb(145, 142, 142);
    }
    .heroPage {
        display: block;
        margin: 0;
        margin-bottom: 1em;
    }
    .article {
        width: 100%;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        margin: auto;
        padding-top: 0.7em;
    }
    .article #non {
        display: none;
    }
    .article #break {
        font-size: 25px;
    }
    #heroImg {
        width: 100%;
    }
    #heroImg img {
        min-width: 100%;
    }
    .secPage {
        margin: 0;
        padding: 1em;
    }
    .secPage h1 {
        font-size: 25px;
        font-weight: 700;
    }
    .secPage p {
        font-size: 0.9em ;
        font-weight: 500;
        padding-bottom: 1em;
    }
    button {
        padding: 1em 1.3em;
        font-size: 12px;
        margin-bottom: 1em;
        cursor: pointer;
    }
    .sechead {
        margin-left: 0;
    }
    .sechead h2 {
        font-size: 20px;
        margin-right: 3px;
    }
    .sechead hr {
        margin-left: 2px;
    }
    .section2 {
        margin: 0;
        margin-top: 5em;
    }
    .section2 h1 {
        text-align: center;
        font-size: 25px;
        font-weight: 700;
    }
    .servicesList h2 {
        text-align: center;
        font-size: 20px;
    }
    .servicesList p {
        font-size: 15px;
    }
    .section2 .container {
        flex-wrap: wrap;
        padding-top: 5px;
    }
    .section2 .servicesList {
        border: 3px solid #03256c;
        border-radius: 1em;
        padding: 1em;
        margin: 0.3em;
    }
    .section2 .servicesList p{
        font-size: 0.8em;
    }
    .card-slide{
        margin: 0 10px;
    }
    .secsidee {
        padding-top: 2em;
    }
    .rdsection {
        margin: 0;
        padding: 0;
    }
    .rdsection h2 {
        font-size: 20px;
    }
    .projects {
        padding: 0;
        flex-wrap: wrap;
        margin: 0;
    }
    .projects .container {
        border: #fff 1px solid;
        width: 20rem;
        height: 19rem;
        color: #fff;
        padding: 4px;
    }
    .pro-img {
        width: 19.3rem;
        height: 9rem;
    }
    .container img {
        object-fit: contain;
    }
    .pro-img:hover img {
        transform: scale(1.04);
    }
    .projectsDetails h3 {
        font-size: 18px;
        font-weight: 600;
    }
    .projectsDetails p {
        font-size: 12px;
    }
    .info {
        padding: 0 1em;
    }
    .liit {
        width: auto;
    }
    .infoicons ul li {
        list-style: none;
        padding-top: 10px;
    }
    .infoicons i {
        padding-right: 8px;
    }
    .infoicons span {
        font-size: 15px;
        font-weight: 500;
    }
    .connect {
        width: auto;
        margin-bottom: 30px;
    }
    .connect ul {
        display: flex;
        position: static;
        bottom: 5px;
        justify-content: flex-start;
        margin-right: 8px;
        transition: .2s ease-in;
    }
    .connect ul li {
        margin: 0.8em 5px;
        list-style: none;
        font-size: 20px;
        padding: 8px 9px;
        border-radius: 50%;
        background-color: #252f65;
        box-shadow: 0px 0px 5px 0px #000;
    }
    .connect i {
        color: rgb(145, 142, 142);
    }
    footer {
        font-size: 13px;
        font-weight: 400;
        color: #fff;
        padding-left: 1em;
        margin-top: 4rem;
    }
}

@media (max-width: 600px) and (min-width: 401px) {
    body {
        margin: auto;
        padding: 5px 1.4em;
        width: 100%;
        overflow-x: hidden;
    }
    menu {
        display: none;
    }
    .slide {
        height: 100vh;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #fff;
        transition: 0.5s ease;
        transform: translateX(-100%);
    }
    .slide ul {
        margin-top: 5em;
    }
    .slide ul li {
        list-style: none;
        padding-top: 1em;
    }
    .slide ul li a {
        color: #252f65;
        font-weight: 500;
        text-transform: capitalize;
        text-decoration: none;
        transition: 0.2s ease-out;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        height: 3em;
        margin-top: 10px;
        transition: .5s ease-in-out;
    }
    .slide ul li a:hover {
        transform: scaleX(1);
        color: rgb(145, 142, 142);
        background-color: #252f65;
    }
    label input {
        display: none;
        visibility: hidden;
        -webkit-appearance: none;
    }
    .toggle {
        position: absolute;
        height: 30px;
        width: 30px;
        top: 25px;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
        right: 15px;
        z-index: 1;
        cursor: pointer;
        border-radius: 2px;
        background-color: #fff;
    }
    .toggle .common {
        position: absolute;
        height: 2px;
        width: 20px;
        background-color: #043aae;
        border-radius: 50px;
        transition: 0.3s ease;
    }
    .toggle .top_line {
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .toggle .middle_line {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .toggle .bottom_line {
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    input:checked~.toggle {
        position: fixed;
    }
    input:checked~.toggle .top_line {
        left: 2px;
        top: 14px;
        width: 25px;
        transform: rotate(45deg);
    }
    input:checked~.toggle .bottom_line {
        left: 2px;
        top: 14px;
        width: 25px;
        transform: rotate(-45deg);
    }
    input:checked~.toggle .middle_line {
        opacity: 0;
        transform: translateX(20px);
    }
    input:checked~.slide {
        transform: translateX(0);
        position: fixed;
        box-shadow: 0 0 15px rgb(0, 0, 0, 0.5);
    }
    nav {
        display: block;
        padding: 0;
    }
    nav h1 {
        padding: 0;
        padding-top: 4px;
        padding-left: 0.5em;
        padding-bottom: 2em;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        color: #ffffff;
    }
    #ibah {
        color: #043aae;
    }
    .heroPage {
        display: block;
        margin: 0;
        margin-bottom: 1em;
    }
    .article {
        width: 100%;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        margin: auto;
        padding-top: 0.7em;
    }
    .article #non {
        display: none;
    }
    .article #break {
        font-size: 25px;
    }
    #heroImg {
        width: 100%;
    }
    #heroImg img {
        width: 100%;
        margin-left: 6em;
    }
    .secPage {
        margin: 0;
        padding: 1em;
    }
    .secPage h1 {
        font-size: 25px;
        font-weight: 700;
    }
    .secPage p {
        font-size: 15px;
        font-weight: 500;
        padding-bottom: 1em;
    }
    button {
        padding: 1em 1.3em;
        font-size: 12px;
        border: 0px;
        border-radius: 0.6em;
        margin-bottom: 1em;
        cursor: pointer;
    }
    .sechead {
        margin-left: 0.6rem;
    }
    .section2 {
        margin: 0;
        margin-top: 5em;
    }
    .section2 h1 {
        text-align: center;
        font-size: 25px;
        font-weight: 700;
    }
    .servicesList h2 {
        text-align: center;
        font-size: 20px;
    }
    .servicesList p {
        font-size: 15px;
    }
    .section2 .container {
        flex-wrap: wrap;
        padding-top: 5px;
    }
    .section2 .servicesList {
        border: 3px solid #03256c;
        border-radius: 1em;
        padding: 1em;
        margin: 0.3em;
    }
    .secsidee {
        padding-top: 1.6em;
    }
    .rdsection {
        margin: 0;
        padding: 0;
    }
    .rdsection h2 {
        font-size: 20px;
    }
    .projects .container {
        border: #fff 1px solid;
        width: 16.6rem;
        height: 18rem;
        color: #fff;
    }
    .pro-img {
        width: 15.6rem;
        height: 8rem;
    }
    .container img {
        object-fit: contain;
    }
    .projectsDetails h3 {
        font-size: 18px;
        font-weight: 500;
    }
    .projectsDetails p {
        font-size: 12px;
    }
    .info {
        padding: 0 1em;
    }
    .liit {
        width: auto;
    }
    .infoicons ul li {
        list-style: none;
        padding-top: 10px;
    }
    .infoicons i {
        padding-right: 8px;
    }
    .infoicons span {
        font-size: 15px;
        font-weight: 500;
    }
    .connect {
        width: auto;
        margin-bottom: 30px;
    }
    .connect ul {
        display: flex;
        position: relative;
        bottom: 5px;
        justify-content: flex-start;
        margin-right: 8px;
        transition: .2s ease-in;
    }
    .connect ul li {
        margin: 0.8em 5px;
        list-style: none;
        font-size: 20px;
        padding: 8px 9px;
        border-radius: 50%;
        background-color: #252f65;
        box-shadow: 0px 0px 5px 0px #000;
    }
    .connect i {
        color: rgb(145, 142, 142);
    }
    footer {
        font-size: 13px;
        font-weight: 400;
        color: #fff;
        padding-left: 1em;
        margin-top: 4rem;
    }
}