    /* Portfolio for Oluwaranti Felicia 
data analyst website not done it before but gonna try my best, well the theme
is not professional buh i will try my best*/
    
    * {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    ul {
        padding-left: 0;
        margin-left: 0;
    }
    
    body {
        background-color: #252f65;
        margin: 0;
        padding: 1em;
    }
    
    nav {
        display: flex;
        padding: 1em 5em;
    }
    
    nav h1 {
        padding: 0em 2em 2em 5em;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        width: 50%;
        color: #fff;
        pointer-events: none;
    }
    
    menu {
        width: 50%;
    }
    
    menu ul li {
        display: inline-block;
        transition: 0.3s;
        transition-timing-function: ease-out;
    }
    
    menu ul li .m {
        padding: 1em 1.5em;
        font-size: 16px;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        justify-content: space-between;
        list-style: none;
        text-decoration: none;
        color: #ffffff;
        cursor: pointer;
    }
    
    menu ul li:hover {
        padding-bottom: 1px;
        color: #cfe8ef;
        border-bottom: 2px solid rgb(145, 142, 142);
    }
    
    .heroPage {
        display: flex;
        margin: 0;
        margin-top: 2em;
    }
    
    .article {
        width: 40%;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        margin: 8em 2em 4em 6em;
    }
    
    .article h2 #fstWord {
        background-color: rgb(145, 142, 142);
        border-radius: 0.2em;
        color: #ffffff;
        padding: 0.2em 0.3em;
        margin-right: 0.3em;
        font-size: 20px;
    }
    
    .article h2 {
        font-size: 20px;
        padding-bottom: 2px;
    }
    
    .article h3 {
        padding-bottom: 0.5em;
    }
    
    .article p {
        font-size: 15px;
    }
    
    #heroImg {
        width: 60%;
        padding-top: 0rem;
    }
    
    #heroImg img {
        width: 100%;
        min-height: auto;
    }
    
    .secPage {
        background-color: rgb(145, 142, 142);
        margin: 1em 3em 3em 3em;
        padding: 1rem 2em;
        border-radius: 0.7em;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
    }
    
    .secPage h1 {
        font-size: 2.1rem;
        text-align: center;
    }
    
    .secPage p {
        font-size: 15px;
        font-weight: 500;
        padding-bottom: 1em;
    }
    
    button {
        width: 8.4rem;
        height: 2.78rem;
        background-color: rgb(145, 142, 142);
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        border: 1px solid #000;
        font-weight: 600;
        border-radius: 0.3em 0.6em;
        margin-bottom: 1em;
        box-shadow: 0 0 6px 0 rgb(0, 0, 0);
        cursor: pointer;
        transition: .4s ease-out;
    }
    
    button:hover {
        box-shadow: none;
        border: none;
    }
    
    .sechead {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        margin: 1.6rem 1.6rem 1em 1.6rem;
        width: 100%;
    }
    
    .sechead h2 {
        color: #fff;
        font-size: 25px;
        text-transform: capitalize;
    }
    
    .sechead hr {
        color: rgb(145, 142, 142);
        height: 1px;
        width: 200px;
        margin-top: 0.7em;
        margin-left: 8px;
    }
    
    .section2 {
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 1em;
    }
    
    .section2 .container {
        display: flex;
        padding-top: 0;
        pointer-events: none;
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .section2 h3 {
        width: 100%;
        margin-left: 3em;
        font-size: 20px;
        font-weight: 600;
        margin-top: 0;
        color: rgb(145, 142, 142);
        justify-content: flex-start;
    }
    
    .section2 .servicesList {
        border: 1px solid #3e2a35;
        box-shadow: 1px 2px 6px rgb(0, 3, 0, 5);
        border-radius: 1em;
        padding: 1em;
        margin: 0.5em;
        pointer-events: none;
        height: 14rem;
        width: 23rem;
    }
    
    .servicesList h2 {
        text-align: center;
        font-size: 23px;
    }
    
    .servicesList p {
        margin-top: 5px;
        font-size: 15px;
    }
    
    .card-slide {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-top: 1em;
    }
    
    .slidee h3 {
        margin-left: 1em;
        justify-self: flex-start;
    }
    
    .card {
        width: 23rem;
        height: 13rem;
        border: 1px solid #3e2a35;
        box-shadow: 1px 2px 6px rgb(0, 3, 0, 5);
        margin: 0 1em;
        border-radius: 1em;
        padding: 0.5em 1em;
        pointer-events: none;
    }
    
    .card ul li {
        margin: 1em 0.7em;
        font-size: 16px;
        font-weight: 500;
        margin-left: 2em;
    }
    
    .projects {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        justify-content: center;
    }
    
    .projects .container {
        border-radius: 10px;
        border: 1px solid #3e2a35;
        box-shadow: 1px 2px 6px rgb(0, 3, 0, 5);
        color: #fff;
        padding: 0.5em;
        width: 25rem;
        height: 27rem;
    }
    /* #imagecontainer {
        position: relative;
    }
    
    #pro-img-box {
        position: fixed;
    } */
    
    .pro-img {
        cursor: pointer;
        width: 24rem;
        /* min-width: 15rem; */
        height: 15rem;
        justify-content: center;
        margin-bottom: 20px;
        overflow: hidden;
        border: 2px solid #fff;
        border-radius: 8px;
    }
    
    .container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .2s linear;
    }
    
    .pro-img:hover img {
        transform: scale(1.1);
    }
    
    .projects .popup-img {
        position: fixed;
        top: 0;
        left: 0;
        background: rgb(0, 0, 0, .9);
        height: 100%;
        width: 100%;
        z-index: 100%;
        display: none;
    }
    
    .projects .popup-img span {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 60px;
        font-weight: bolder;
        color: #fff;
        cursor: pointer;
        z-index: 100;
    }
    
    .projects .popup-img img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 4px solid #fff;
        border-radius: 5px;
        width: 750px;
        object-fit: cover;
    }
    
    .projectsDetails h3 {
        font-size: 23px;
        font-weight: 600;
        padding: 0 8px;
        margin-top: 10px;
        margin-bottom: 7px;
    }
    
    .projectsDetails p {
        font-size: 15px;
        font-weight: 300;
        padding: 0 8px;
        margin-top: 2px;
    }
    
    .contact {
        color: #fff;
    }
    
    .info {
        padding: 0 2em;
    }
    
    .liit {
        display: block;
        width: 70rem;
    }
    
    .infoicons ul li {
        list-style: none;
        padding-top: 10px;
    }
    
    .infoicons i {
        font-size: 20px;
        font-weight: 700;
        color: rgb(145, 142 142);
        padding-right: 8px;
    }
    
    .infoicons span {
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
        transition: .3s ease-out;
    }
    
    .infoicons span:hover {
        text-decoration: underline;
    }
    
    .connect {
        width: 70rem;
        margin-bottom: 30px;
    }
    
    .connect ul {
        display: absolute;
        position: fixed;
        right: 0;
        bottom: 10px;
        justify-content: flex-end;
        margin-right: 8px;
        transition: .2s ease-in;
    }
    
    .connect ul li {
        margin: 0.8em 5px;
        list-style: none;
        font-size: 20px;
        padding: 8px 9px;
        border-radius: 50%;
        background-color: #252f65;
        box-shadow: 0px 0px 5px 0px #000;
    }
    
    .connect i {
        color: rgb(145, 142, 142);
    }
    
    footer {
        font-size: 13px;
        font-weight: 400;
        color: #fff;
        padding-left: 1em;
        margin-top: 4rem;
    }